<div footer id=footer__ID class="text-center">
	<span id=text__ID></span>
	<script>
		$vm.root_layout_footer='footer__ID';
		//-----------------------------------------------------
		$('#text__ID').html("Copyright © "+(new Date()).getFullYear()+", zzm.vmiis@gmail.com<span class='hidden-xs hidden-sm'>, Zhiming Zhou, expert in business portal development, setup from scratch on your GitHub and Amazon cloud servers and ongoing maintenance.</span>");
		//------------------------------------
	</script>
	<style>
		#footer__ID{
			color: #fff;
    		background-color: #333;
			font:14px/20px arial;
		}
	</style>
</div>
